<?php include __DIR__ . '/parts/header.html'; ?>
<form class="form form-horizontal" action="regedit.php" method="post">
    <div class="form-group">
        <label class="col-sm-2 control-label">Имя</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name='name'
                   pattern="<?= htmlspecialchars($validator->getNameRegExp(), ENT_QUOTES) ?>"
                   title="Имя может содержать латинские либо кириллические буквы, апострофы, пробелы и дефисы, не более 45 символов всего"
                   value='<?= htmlspecialchars($student->name, ENT_QUOTES) ?>' required="required">
            <?php if (!empty($errors['name'])): ?>
            <span class = "errortext"><?= $errors['name']; ?></span>
            <?php endif ?>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Фамилия</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name='secondName'
                   pattern="<?= htmlspecialchars($validator->getSecondNameRegExp(), ENT_QUOTES) ?>"
                   title="Фамилия может содержать латинские либо кириллические буквы, апострофы, пробелы и дефисы, не более 45 символов всего"
                   value='<?= htmlspecialchars($student->secondName, ENT_QUOTES) ?>' required="required">
            <?php if (!empty($errors['secondName'])): ?>
            <span class = "errortext"><?= $errors['secondName']; ?></span>
            <?php endif ?>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Пол</label>
        <div class="col-sm-10">
            <label class="radio-inline">
                <input  type="radio" name ='sex' value="<?=Student::GENDER_MALE?>" required 
                        <?= ($student->sex==Student::GENDER_MALE?'checked="checked"':'');?>>Мужской
            </label>
            <label class="radio-inline">
                <input type="radio" name ='sex' value="<?=Student::GENDER_FEMALE?>" required 
                       <?= ($student->sex==Student::GENDER_FEMALE?'checked="checked"':'');?>>Женский
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Группа</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name = 'groupName'
                   pattern="<?= htmlspecialchars($validator->getGroupRegExp(), ENT_QUOTES) ?>"
                   title="Имя группы может содержать не более 5 латинских либо кириллических символов, цифр, дефисов."
                   value='<?= htmlspecialchars($student->groupName, ENT_QUOTES) ?>' required="required">
            <?php if (!empty($errors['groupName'])): ?>
            <span class = "errortext"><?= $errors['groupName']; ?></span>
            <?php endif ?>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input class="form-control" type="email" name = "email"
                   title="Адрес электронной почты принимается в формате name@server.com"
                   value='<?= htmlspecialchars($student->email, ENT_QUOTES) ?>' required>
            <?php if (!empty($errors['email'])): ?>
            <span class = "errortext"><?= $errors['email']; ?></span>
            <?php endif ?>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Баллов</label>
        <div class="col-sm-10">
            <input class="form-control" type="number" min="0" max="300" step="1"
                   name = 'score'
                   title="Количество баллов может быть от 0 до 300"
                   value='<?= htmlspecialchars($student->score, ENT_QUOTES) ?>' required>
            <?php if (!empty($errors['score'])): ?>
            <span class = "errortext"><?= $errors['score']; ?></span>
            <?php endif ?>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Год рождения</label>
        <div class="col-sm-10">
            <input class="form-control" type="number" min="1901" max="2155" step="1" name = "birthYear"
                   pattern="<?= htmlspecialchars($validator->getYearRegExp(), ENT_QUOTES) ?>"
                   title="Например 2000"
                   value='<?= htmlspecialchars($student->birthYear, ENT_QUOTES) ?>' required>
            <?php if (!empty($errors['birthYear'])): ?>
            <span class = "errortext"><?= $errors['birthYear']; ?></span>
            <?php endif ?>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Местный</label>
        <div class="col-sm-10">
            <label class="radio-inline">
                <input type="radio" name ='local' value="<?=Student::RESIDENCE_LOCAL?>" required 
                       <?=($student->local==Student::RESIDENCE_LOCAL?'checked="checked"':'');?>>Да
            </label>
            <label class="radio-inline">
                <input type="radio" name ='local' value="<?=Student::RESIDENCE_NOT_LOCAL?>" required 
                       <?=($student->local==Student::RESIDENCE_NOT_LOCAL?'checked="checked"':'');?>>Нет
            </label>
        </div>
    </div>
    <input type="submit" value="Продолжить" class="btn btn-success">
</form>
<?php include __DIR__ . '/parts/footer.html'; ?>