<?php include __DIR__ . '/../templates/header.html'; ?>
<form class="form" action="regedit.php" method="post">
    <table class="table table-bordered table-hover">
        <tr>
            <td class="textboldleft">Имя</td><td>
                <input class="column-wide" type="text" name='name'
                       value='<?= htmlspecialchars($student->name) ?>' required="required">
            </td></tr>
        <tr><td class="textboldleft">Фамилия</td><td>
                <input class="column-wide" type="text" name='secondName'
                       value='<?= htmlspecialchars($student->secondName) ?>' required="required">
            </td></tr>
        <tr><td class="textboldleft">Пол</td><td>
                <input type="radio" name ='sex' value='M' required 
                       <?php echo($student->sex=="M"?'checked="checked"':'');?>>Мужской
                       <input type="radio" name ='sex' value='F' required 
                       <?php echo($student->sex=="F"?'checked="checked"':'');?>>Женский
            </td></tr>
        <tr><td class="textboldleft">Номер группы</td><td>
                <input class="column-wide" type="text" name = 'groupName'
                       value='<?= htmlspecialchars($student->groupName) ?>' required="required">
            </td></tr>
        <tr><td class="textboldleft">e-mail</td><td>
                <input class="column-wide" type="text" name = 'email'
                       value='<?= htmlspecialchars($student->email) ?>' required="required">
            </td></tr>
        <tr><td class="textboldleft">Баллов</td><td>
                <input class="column-wide" type="number" name = 'score'
                       value='<?= htmlspecialchars($student->score) ?>' required="required">
            </td></tr>
        <tr><td class="textboldleft">Год рождения</td><td>
                <input class="column-wide" type="text" name = 'birthYear'
                       value='<?= htmlspecialchars($student->birthYear) ?>' required="required">
            </td></tr>
        <tr><td class="textboldleft">Местный</td><td>
                <input type="radio" name ='local' value='Y' required <?=($student->local=="Y"?'checked="checked"':'');?>>Да
                       <input type="radio" name ='local' value='N' required <?=($student->local=="N"?'checked="checked"':'');?>>Нет
            </td></tr>
    </table>
    <input type="submit" value="Продолжить" class="table btn btn-success">
</form>
<?php include __DIR__ . '/../templates/footer.html'; ?>