<?php require_once __DIR__ . '/parts/header.html' ?>

<?php if ($notify == 'registered'): ?>
<?php include __DIR__ . '/parts/okRegistered.html'; ?>
<?php elseif ($notify == 'edited'): ?>
<?php include __DIR__ . '/parts/okEdited.html'; ?>
<?php endif; ?>


<?php if ($search): ?>
<?php include __DIR__ . '/parts/results.html'; ?>
<?php endif; ?>
<?php if (!$pageList && $search === ''): ?>
<?php include __DIR__ . '/parts/beTheFirst.html'; ?>
<?php else: ?>
<?php if (!$pageList && $search != ''): ?>
<?php include __DIR__ . '/parts/noStudents.html'; ?>
<?php endif; ?>
<?php require_once __DIR__ . '/parts/listOfStudents.html' ?>
<?php endif; ?>


<?php if (!$authorizer->isStudentInDatabase()): ?>
<?php include __DIR__ . '/parts/registerButton.html'; ?>
<?php else: ?>
<?php include __DIR__ . '/parts/editButton.html'; ?>
<?php endif; ?>

<?php if ($totalRecords > $recordsPerPage): ?> 
<?php include __DIR__ . '/parts/pagination.html' ?>
<?php endif; ?>
<?php require_once __DIR__ . '/parts/footer.html' ?>