<?php require_once __DIR__ . '/parts/header.html' ?>

<?php if ($notify == 'registered'): ?>
<?php include __DIR__ . '/parts/okRegistered.html'; ?>
<?php elseif ($notify == 'edited'): ?>
<?php include __DIR__ . '/parts/okEdited.html'; ?>
<?php endif; ?>

<?php require_once __DIR__ . '/listOfStudents.html' ?>

<?php if (!$authorizer->isAuthorized()): ?>
<?php include __DIR__ . '/parts/registerButton.html'; ?>
<?php else: ?>
<?php include __DIR__ . '/parts/editButton.html'; ?>
<?php endif; ?>

<?php if ($totalRecords > $recordsPerPage): ?> 
<?php include __DIR__ . '/pagination.html' ?>
<?php endif; ?>
<?php require_once __DIR__ . '/parts/footer.html' ?>