<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th class="column-wide">Имя <a href="<?= htmlspecialchars($pager->getSortedLinkForPage($currentPage, 'name', Helper::getOrder($order)), ENT_QUOTES) ?>"><?= $sort == 'name' ? Helper::getSymbol($order) : "&#8661;" ?></a></th>
            <th class="column-wide">Фамилия <a href="<?= htmlspecialchars($pager->getSortedLinkForPage($currentPage, 'secondName', Helper::getOrder($order)), ENT_QUOTES) ?>"><?= $sort == 'secondName' ? Helper::getSymbol($order) : "&#8661;" ?></a></th>
            <th class="column">Номер группы <a href="<?= htmlspecialchars($pager->getSortedLinkForPage($currentPage, 'group', Helper::getOrder($order)), ENT_QUOTES) ?>"><?= $sort == 'group' ? Helper::getSymbol($order) : "&#8661;" ?></a></th>
            <th class="column">Баллов <a href="<?= htmlspecialchars($pager->getSortedLinkForPage($currentPage, 'score', Helper::getOrder($order)), ENT_QUOTES) ?>"><?= $sort == 'score' ? Helper::getSymbol($order) : "&#8661;" ?></a></th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($pageList as $value): ?>
        <tr>
            <td class="cell">
                <?php $value[1] = Helper::highlightText($search, $value[1]); ?>
                <?= $value[1] ?>
            </td>
            <td class="cell">
                <?php $value[2] = Helper::highlightText($search, $value[2]); ?>
                <?= $value[2] ?>
            </td>
            <td class="cell">
                <?php $value[4] = Helper::highlightText($search, $value[4]); ?>
                <?= $value[4] ?>
            </td>
            <td class="cell">
                <?php $value[6] = Helper::highlightText($search, $value[6]); ?>
                <?= $value[6] ?>
            </td>
        </tr>

        <?php endforeach;?>
    </tbody>
</table>